<%# all photos in one album with 'upload photo' button%>

<div class="label">album owner: <%= @album_owner %></div> 

<div class="all-photos-container">
    <div class="display-box">

    </div>

    <%# upload photo button should show to album owner, hidden for not album owner %>
    <% if session[:user_id] == @album.user_id  %>
        <div class="upload-photo">
          <button class="button upload-photo-btn" onclick="openUploadPhotoForm()">upload photo</button>
        </div>
    <% end %>

</div>

<div>
  <a class="prev-12-photos">prev</a>
  <a class="next-12-photos">next</a>
</div>

<div class="upload-photo-form">
    <span class="close-form-btn">&times</span>
    <form action="/photos/<%= @album_id %>/<%= @user_id %>" method="post">
        <div>
            <label for="">name</label>
            <input type="text" name="name" required>    
        </div>
        
        <div>
            <label for="">image url</label>
            <input type="text" name="image_url" required>   
        </div>

        <div>
            <button class="button upload-photo-btn">upload photo</button>
        </div>
    </form>
</div>


<div class="enlarged-image-container">
    <span class="close-image-btn">&times</span>
    <img id="enlargedImg">
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  const enlargeImage = (imgs) => {
      let enlargedImageBackground = document.querySelector('.enlarged-image-container')
      let enlargeImg = document.getElementById('enlargedImg')
      enlargedImageBackground.style.display = 'block'
      enlargeImg.src = imgs.src

      let span = document.querySelector('.close-image-btn')
      span.onclick = () => { 
          enlargedImageBackground.style.display = 'none'
      }
  }

  const openUploadPhotoForm = () => {
    let uploadPhotoForm = document.querySelector('.upload-photo-form')
    uploadPhotoForm.style.display = 'block'
    let span = document.querySelector('.close-form-btn')
    span.onclick = () => { 
      uploadPhotoForm.style.display = 'none'
    }
  }


// var showEditDelete = function(event) {
//     event.target.classList.toggle('.show-edit-delete');
// }
// document.querySelectorAll('.photo-name').forEach(function(item) {
//     item.addEventListener('click', showEditDelete);    
// });


let loadNext12Photos = document.querySelector('.next-12-photos')
let loadPrev12Photos = document.querySelector('.prev-12-photos')
let setDisplayBox = document.querySelector('.display-box')
let offset = 12 
let page = 1    // increase up to 10
let photosPerPage = 12

// 1st request - show first 12 photos
  $.ajax({
    url: `/api/photos/<%= @album_name %>/<%= @album_id %>/${offset}/${page}`,
    method: 'get'
  }).done(res => {
    for(let i = 0; i < res.length; i++) {             // draw 12 photos
      let article = document.createElement('article')
      setDisplayBox.append(article)

      article.innerHTML = 
      `<div class="photo-display">
        <img src="${res[i].image_url}" alt="" onclick="enlargeImage(this)">
        <div class="photo-name">
          <a href="/photos/${res[i].id}">
            ${res[i].name}
          </a>
        </div>
      </div>`
    }

  })

  const handleNext = (event) => {
    if(page < Math.ceil(<%= @photos.length %>/photosPerPage)) {
      page += 1
    }

    const options = {
        url: `/api/photos/<%= @album_name %>/<%= @album_id %>/${offset * page}/${page}`,
        method: 'get'
    }

    $.ajax(options).done(res => {
      if(page <= 10 && res != null) {
        document.querySelectorAll('article').forEach(photo => { // clear prev 12 photos
          photo.remove()
        })  

        for(let i = 0; i < res.length; i++) {             // draw 12 photos
          let article = document.createElement('article')
          setDisplayBox.append(article)

          article.innerHTML = 
          `<div class="photo-display">
            <img src="${res[i].image_url}" alt="" onclick="enlargeImage(this)">
            <div class="photo-name">
              <a href="/photos/${res[i].id}">
                ${res[i].name}
              </a>
            </div>
          </div>`
        }
      }
    })
  }

  const handlePrev = (event) => {
    if(page > 1) {
      page -= 1
    }

    const options = {
        url: `/api/photos/<%= @album_name %>/<%= @album_id %>/${offset * page}/${page}`,
        method: 'get'
    }

    $.ajax(options).done(res => {
      if(page >= 1) {
        document.querySelectorAll('article').forEach(photo => { // clear prev 12 photos
          photo.remove()
        })  

        for(let i = 0; i < res.length; i++) {             // draw 12 photos
          let article = document.createElement('article')
          setDisplayBox.append(article)

          article.innerHTML = 
          `<div class="photo-display">
            <img src="${res[i].image_url}" alt="" onclick="enlargeImage(this)">
            <div class="photo-name">
              <a href="/photos/${res[i].id}">
                ${res[i].name}
              </a>
            </div>
          </div>`
        }
      }
    })
  }

  loadNext12Photos.addEventListener('click', handleNext)
  loadPrev12Photos.addEventListener('click', handlePrev)

</script>


