<div class="one-photo-page-container">
  <div class="photo-btn-container">
    <div class="photo-container">
      <img src="<%= @photo.image_url %>" alt="">
    </div>

    <div class="edit-delete-forms">
      <%# edit button should show to photo owner, hidden for not photo owner %>
      <% if session[:user_id] == @photo.user_id  %>
        <div class="edit-photo">
          <button class="button edit-photo-btn" onclick="showUpdatePhotoForm()">edit</button>
        </div>
      <% end %>

      <%# delete button should show to photo owner, hidden for not photo owner %>
      <% if session[:user_id] == @photo.user_id  %>
        <div class="delete-photo-form">
          <form action="/photos/<%= @photo.id %>" method="post">
            <input type="hidden" name="photo_id" value="<%= @photo.id %>"> 
            <input type="hidden" name="_method" value="delete">
            <button class="button delete-photo-btn">delete</button>
          </form>
        </div>
      <% end %>
    </div>
  </div>

  <%# <span>&nbsp &nbsp</span> %>

  <div class="comment-like-container">
    <div class="post-comment-form">
      <input type="hidden" name="photo_id" value="<%= @photo.id %>">

      <div class="comment-input-field">
        <textarea class="content" name="content" placeholder="comment"></textarea>
      </div>   

      <div class="post-comment-btn-holder">
        <button class="button post-comment-btn" onclick="clearTextarea()">post</button>
      </div> 
    </div>

    <% if logged_in? %>
      <div class="image-link">
        <a href="<%= @photo.image_url %>" target="_blank">
          image link
        </a>
      </div>
    <% end %>

    <div class="like-container">
      <div class="like-btn">
        <button class="add-like-btn"><img src="/images/heart.png" alt=""></button>
      </div>     
      <div class="like-holder"><%= @like.number %></div> 
    </div>
  </div>
</div>

<%# list all comments of a photo %>
<div class="list-of-comments">
  <div class="comments-area"></div>
</div>

<div class="comment-prev-next">
  <a class="prev-5-comments">prev</a>
  <span class="comments-page">1</span>
  <a class="next-5-comments">next</a>
</div>

<div class="edit-photo-form">
  <span class="close-edit-photo-form-btn">&times</span>

  <form action="/photos/<%= @photo.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label for="">name</label>
      <input type="text" name="name" value="<%= @photo.name %>">
    </div>
    
    <div>
      <label for="">image url</label>
      <input type="text" name="image_url" value="<%= @photo.image_url %>">    
    </div>

    <div>
      <button class="button update-photo-btn">update photo</button>
    </div>
  </form>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  let addLikeBtn = document.querySelector('.add-like-btn')
  const handleAddLike = () => {
    const options = {
      url: '/likes',
      method: 'put',
      data: {
        photo_id: <%= @photo.id %>
      }
    }
    $.ajax(options).done(res => {
      let likeCount = document.querySelector('.like-holder')
      likeCount.textContent = res.like_count
    })
  }
  addLikeBtn.addEventListener('click', handleAddLike)

  async function getNumOfAllComments() {
    const options = {
      url: `/api/comments/<%= @photo.id %>`,
      method: 'get'
    } 
    return await $.ajax(options)
  }

  let offset = 5 
  let page = 1    
  let commentsPerPage = 5
  let setCommentsPage = document.querySelector('.comments-page')

  async function requestUserEmail(userId) {
    const options = {
      url: `/api/users/${userId}`,
      method: 'get'
    }
    return await $.ajax(options)
  }

  let commentsArea = document.querySelector('.comments-area')
  const requestComments = (offset, page) => {
    const options = {
      url: `/api/comments/<%= @photo.id %>/${offset * page}/${page}`,
      method: 'get'
    }
    $.ajax(options).done(res => {
      commentsArea.querySelectorAll('article').forEach(comment => { 
        comment.remove()
      })  
      for(let i = 0; i < res.length; i++) {             // show 5 comments
        let article = document.createElement('article')
        commentsArea.append(article)

        // let userId = res[i].user_id
        // console.log(`<%= User.find_by(id: 2).email %>`) // cannot embedded js in ruby

        requestUserEmail(res[i].user_id).then(response => {
          article.innerHTML = 
          `<p>${response.user_email} &nbsp &nbsp &nbsp
            ${res[i].time}
          </p>
          <div class="comment">
            <p>${res[i].content}</p>
          </div>`
        })
      }
    })    
  }

  requestComments(offset, page)

  let postCommentBtn = document.querySelector('.post-comment-btn')
  const handlePostComment = () => {
    const options = {
      url: '/comments',
      method: 'post',
      data: {
        photo_id: <%= @photo.id %>,
        content: document.querySelector('.content').value
      }
    }
    $.ajax(options).done(() => {
      getNumOfAllComments().then(res => {
        let numOfComments = res.num_of_comments
        let lastPage = Math.ceil(numOfComments/commentsPerPage)
        page = lastPage // update page number
        setCommentsPage.textContent = page
        document.querySelector('.content').value = ''
        requestComments(offset, lastPage)
      })
    })
  }
  postCommentBtn.addEventListener('click', handlePostComment)

  let loadNext5Comments = document.querySelector('.next-5-comments')
  const handleNext5Comments = () => {
    getNumOfAllComments().then(res => {
      let numOfComments = res.num_of_comments
      let lastPage = Math.ceil(numOfComments/commentsPerPage) 
      if(page < lastPage) {
        page += 1
        setCommentsPage.textContent = page
      }
      requestComments(offset, page)
    })
  }
  loadNext5Comments.addEventListener('click', handleNext5Comments)

  let loadPrev5Comments = document.querySelector('.prev-5-comments')
  const handlePrev5Comments = () => {
    if(page > 1) {
      page -= 1
      setCommentsPage.textContent = page
    }
    requestComments(offset, page)
  }
  loadPrev5Comments.addEventListener('click', handlePrev5Comments)

  const clearTextarea = () => {
    // let textAreaContent = document.querySelector('.content')
    // textAreaContent.value = ''
  }

  let editPhotoBtn = document.querySelector('.edit-photo-btn')
  let editPhotoForm = document.querySelector('.edit-photo-form')
  const showUpdatePhotoForm = () => {
    editPhotoForm.style.display = 'block'
    let span = document.querySelector('.close-edit-photo-form-btn')
    span.onclick = () => { 
      editPhotoForm.style.display = 'none'
    }
  }

</script>







