<%# list all albums of one user %>

<div class="one-user-albums-container">
    <% @albums.each do |album|%>
        <div class="album-container"> 
            <img src="<%= album.theme_image_url %>" alt="">
            <div class="album-name">
                <a href="/photos/<%= album.name %>/<%= album.id %>">
                    <%= album.name %>
                </a>
            </div>

        </div>
    <% end %>
</div>

<%# 'create album' button -> take user to create_new_album.erb %>

<form action="/albums/<%= @user_id %>/new">
    <button>create album</button>
</form>

