<div class="photo-container">
    <img src="<%= @photo.image_url %>" alt="">
    <div class="photo-name">
        <a><%= @photo.name %></a>
    </div>
</div>


<%# edit button should show to photo owner, hidden for not photo owner %>
<% if session[:user_id] == @photo.user_id  %>
    <div class="edit-photo-form">
        <form action="/photos/<%= @photo.id %>/<%= @photo.album_id %>/edit">
            <button>edit</button>
        </form>
    </div>
<% end %>


<div class="post-comment-form">
    <form action="/comments" method="post">
        <input type="hidden" name="photo_id" value="<%= @photo.id %>">
        <textarea name="content"></textarea>
        <button>post</button>
    </form>
</div>


<%# list all comments of a photo %>
<div class="list-of-comments">
    <% @comments.each do |comment|%>
        <div class="comment">
            <p><%= comment.content %></p>
        </div>
    <% end %>
</div>
