<%# all photos in one album with 'upload photo' button%>

<label for="">album owner: <%= @album_owner %></label>

<%# upload photo button should show to album owner, hidden for not album owner %>
<% if session[:user_id] == @album.user_id  %>
    <div class="upload-photo-form">
        <form action="/photos/<%= @album_id %>/<%= @user_id %>/new">
            <button>upload photo</button>
        </form>
    </div>
<% end %>

<div class="all-photos-container">
    <% @photos.each do |photo|%>
        <div class="photo-container">
            <img src="<%= photo.image_url %>" alt="" onclick="enlargeImage(this);">
            <div class="photo-name">
                <a href="/photos/<%= photo.id %>"><%= photo.name %></a>
            </div>
        </div>    
    <% end %>
</div>


<div class="enlarged-image-container">
    <span class="close-enlarged-image-btn">&times;</span>
    <img id="enlargedImg">
</div>


<script>
function enlargeImage(imgs) {
    var enlargedImageBackground = document.querySelector('.enlarged-image-container');
    var enlargeImg = document.getElementById("enlargedImg");
    enlargedImageBackground.style.display = "block";
    enlargeImg.src = imgs.src;

    var span = document.getElementsByClassName("close-enlarged-image-btn")[0];
    span.onclick = function() { 
        enlargedImageBackground.style.display = "none";
    }
}


// var showEditDelete = function(event) {
//     event.target.classList.toggle('.show-edit-delete');
// }
// document.querySelectorAll('.photo-name').forEach(function(item) {
//     item.addEventListener('click', showEditDelete);    
// });


</script>


